<h1 class="text-uppercase"><span class="glyphicon glyphicon-th-list"></span> My cheap Wunderlist rip-off</h1>

<hr>
<a href="/tasks/add"><span class="glyphicon glyphicon-list-alt"></span> Add new task</a>
<hr>
<h2 class="bg-warning">Tasks remaining</h2>
<ol>
    <% @incompleted.each do |task| %>
      <li>
        <p><strong><%= task.title %></strong> - Created at <%= task.created_at.to_s %></p>
        <p><a href="/tasks/completed/<%= task.id %>"><span class="glyphicon glyphicon-ok"></span> Mark as Completed</a> | <a href="/tasks/remove/<%= task.id %>"><span class="glyphicon glyphicon-remove"></span> Remove</a>
      </li>
    <% end %>
  </ol>
<h2 class="bg-success">Completed tasks</h2>
  <ol>
    <% @completed.each do |task| %>
      <li>
        <p><strong><%= task.title %></strong> - Created at <%= task.created_at.to_s %></p>
        <p><a href="/tasks/completed/<%= task.id %>"><span class="glyphicon glyphicon-ok"></span> Mark as Completed</a> | <a href="/tasks/remove/<%= task.id %>"><span class="glyphicon glyphicon-remove"></span> Remove</a>
      </li>
    <% end %>
  </ol>